In [1]:
L1 = [1, 2, 3]
L2 = [1, 2, 3]

print (L1 == L2)

True

In [5]:
L1 = [1, 2, 3, 4]
L2 = [1, 2, 3]

print (L1 == L2)

False

In [7]:
L1 = [1, 2, 3]
L2 = [1, 2, 3]

print (L1 == L2) # 객체 내용이 상동한지
print (L1 is L2) # 객체 주소가 상동한지

True
False

In [8]:
L1 = [1, 2, 3]
L2 = [1, 2, 3]
L3 = L1

print (L1 == L2) # 객체 내용이 상동한지
print (L1 is L2) # 객체 주소가 상동한지
print (L1 is L3) # 객체 주소가 상동한지

True
False
True

In [10]:
L1 = [1, 2, 3]
L2 = [1, 2, 3]
L3 = L1

print (L3 == L2) # 객체 내용이 상동한지
print (L3 is L2) # 객체 주소가 상동한지

True
False

In [12]:
for i in range(5):
    print (i)

0
1
2
3
4

In [15]:
for i in range(5):
    # print (i, end = '\n') # default value: 엔터
    print (i, end = ' ')

0 1 2 3 4

In [17]:
name = input("Input your name: ")
print ("hello " + name + ' !')

hello 졍 !

In [19]:
name = input("Input your name: ")
print ("hello "" + name + ' !')
       
# 파이썬 인터프리터는 쌍따옴표를 봤을 때 문자가 아니라 문자열 시작 여부만 알아챔

SyntaxError: EOL while scanning string literal (2896678237.py, line 2)

In [20]:
name = input("Input your name: ")
print ("hello \"" + name + '\" !')

hello "졍" !

In [28]:
value = int( input("Input a digit: ") )

if (value %2 == 0): # 함수의 시작, 클래스의 시작 등 블락이 필요한 구문의 경우 {}가 아니라 : 콜론 이용 !
    print ("Even")

else:
    print ("Odd")

Odd

In [29]:
A = [12, 33, 26, 52, 26, 99]

for e in A:
    print (e, end= ' ')

12 33 26 52 26 99

In [35]:
A = [12, 33, 26, 52, 26, 99]
S = 'Hello World'

for e in A:
    print (e, end= " ")

print()

for c in S:
    print (c, end = ' ')

12 33 26 52 26 99
H e l l o   W o r l d

In [36]:
A = [12, 33, 26, 52, 26, 99]
S = 'Hello World'

for e in A:
    print (e, end= " ")

print()
print(A[0], ',', A[-1])

for c in S:
    print (c, end = ' ')

12 33 26 52 26 99
12 , 99
H e l l o   W o r l d

In [39]:
A = [12, 33, 26, 52, 26, 99]
S = 'Hello World'

for e in A:
    print (e, end= " ")

print()
print(S[0], ',', S[-1]) # 배열 S의 첫 글자와 마지막 글장

for c in S:
    print (c, end = ' ')

12 33 26 52 26 99
H , d
H e l l o   W o r l d

In [44]:
A = set([12, 33, 26, 52, 26, 99]) # set: list 를 집합으로 만들어주는 함수

for e in A:
    print (e, end = ' ')

# list를 set으로 만들 때 순서의 변화는 예상할 수 없음 (집합이라)
# result 01: 33 99 12 52 26

# 중복을 허용하지 않는 무작위 리스트 만들기
  # 난수를 발생시켜 리스트를 만듦, 집합으로 만듦 (순서 어떻게 될지 모름) > 중복값 없어짐, shuffle 함수 이용하여 무작위로 섞기 가능

33 99 12 52 26

In [45]:
A = {1:12, 2:33, 3:26, 4:52} # key 또는 값이 뭐가 나올까
# 위를 딕셔너리라고 함 1:12 가 한 묶음 !
# 쉽게 문제풀이 가능

for e in A:
    print (e, end=' ')

1 2 3 4

In [49]:
A = {1:'hi', 2:'apple', 3:'me', 4:'you'}
# 사전으로 치면 1: 단어, 뒤에 나오는 게 뜻

for e in A:
    print (e, end=': ') # approach to key
    print (A[e]) # approach to value of key

1: hi
2: apple
3: me
4: you

In [59]:
# 구구단

for j in range(1, 10):
    for i in range (2, 7):
        print ('%d * %d = %d' %(i, j, i*j), end= '  ')
    print ()

# 결과가 줄이 안 맞오

2 * 1 = 2  3 * 1 = 3  4 * 1 = 4  5 * 1 = 5  6 * 1 = 6
2 * 2 = 4  3 * 2 = 6  4 * 2 = 8  5 * 2 = 10  6 * 2 = 12
2 * 3 = 6  3 * 3 = 9  4 * 3 = 12  5 * 3 = 15  6 * 3 = 18
2 * 4 = 8  3 * 4 = 12  4 * 4 = 16  5 * 4 = 20  6 * 4 = 24
2 * 5 = 10  3 * 5 = 15  4 * 5 = 20  5 * 5 = 25  6 * 5 = 30
2 * 6 = 12  3 * 6 = 18  4 * 6 = 24  5 * 6 = 30  6 * 6 = 36
2 * 7 = 14  3 * 7 = 21  4 * 7 = 28  5 * 7 = 35  6 * 7 = 42
2 * 8 = 16  3 * 8 = 24  4 * 8 = 32  5 * 8 = 40  6 * 8 = 48
2 * 9 = 18  3 * 9 = 27  4 * 9 = 36  5 * 9 = 45  6 * 9 = 54

In [54]:
# 구구단

for j in range(1, 10):
    for i in range (2, 7):
        print ('%d * %d = %2d' %(i, j, i*j), end= '  ') # %2d = 두 자리수로 !!@!@!@!
    print ()

# 결과가 줄이 안 맞오

2 * 1 =  2  3 * 1 =  3  4 * 1 =  4  5 * 1 =  5  6 * 1 =  6
2 * 2 =  4  3 * 2 =  6  4 * 2 =  8  5 * 2 = 10  6 * 2 = 12
2 * 3 =  6  3 * 3 =  9  4 * 3 = 12  5 * 3 = 15  6 * 3 = 18
2 * 4 =  8  3 * 4 = 12  4 * 4 = 16  5 * 4 = 20  6 * 4 = 24
2 * 5 = 10  3 * 5 = 15  4 * 5 = 20  5 * 5 = 25  6 * 5 = 30
2 * 6 = 12  3 * 6 = 18  4 * 6 = 24  5 * 6 = 30  6 * 6 = 36
2 * 7 = 14  3 * 7 = 21  4 * 7 = 28  5 * 7 = 35  6 * 7 = 42
2 * 8 = 16  3 * 8 = 24  4 * 8 = 32  5 * 8 = 40  6 * 8 = 48
2 * 9 = 18  3 * 9 = 27  4 * 9 = 36  5 * 9 = 45  6 * 9 = 54

In [74]:
print ('%f' %(10/3))
print ('%.2f' %(10/3)) # 세 자리수에서 반올림

print ('%5.2f' %(10/3)) # 정렬

print ('%f' %(9/3))

3.333333
3.33
 3.33
3.000000